.miDivision{

    border: skyblue solid 1px;
    width: 300px;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(186, 246, 250);
    height: 500px;
}

.inputText{

    width: 150px;
    height: 35px;
    margin: 30px;
    border: skyblue solid 1px;
    font-size: 10px;
    border-radius: 15px 15px 15px 15px;
}

.myButton{

    margin: 20px;
    background-color: rgb(130, 132, 238);
    border-style: black solid 3px;
    width: 45px;
    height: 45px;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#resultado{

    border: black solid;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    width: 150px;
    height: 30px;
    margin: 15px 15px 15px 15px;
    background-color: rgb(186, 250, 189);
    border-radius: 5px 5px 5px 5px;
}

.mynumero{
    
    margin:10px 10px 5px 50px;
    background-color: rgb(250, 186, 186);
    border-style: black solid 1px;
    width: 60px;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}